# monitor and console (stdio)
CONFIG_MONITOR_BAUD=115200
CONFIG_CONSOLE_UART_DEFAULT=y
CONFIG_CONSOLE_UART_BAUDRATE=115200

# uncomment to increase CPU clock (speed)
#CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
#CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

# debugging output by default
CONFIG_LOG_DEFAULT_LEVEL_DEBUG=y
CONFIG_LOG_DEFAULT_LEVEL=4

# needed for mon.c functionality
CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_STATS_USING_ESP_TIMER=y

# display pins
#CONFIG_LEDDISPLAY_R1_GPIO=2
#CONFIG_LEDDISPLAY_G1_GPIO=15
#CONFIG_LEDDISPLAY_B1_GPIO=4
#CONFIG_LEDDISPLAY_R2_GPIO=16
#CONFIG_LEDDISPLAY_G2_GPIO=27
#CONFIG_LEDDISPLAY_B2_GPIO=17
#CONFIG_LEDDISPLAY_A_GPIO=5
#CONFIG_LEDDISPLAY_B_GPIO=18
#CONFIG_LEDDISPLAY_C_GPIO=19
#CONFIG_LEDDISPLAY_D_GPIO=21
#CONFIG_LEDDISPLAY_E_GPIO=-1
#CONFIG_LEDDISPLAY_CLK_GPIO=22
#CONFIG_LEDDISPLAY_LAT_GPIO=26
#CONFIG_LEDDISPLAY_OE_GPIO=25

